# === Java build output ===
/bin/
/build/
/out/
/target/
/*.class

/src/main/java/resources/


# === OS 별 무시할 파일 ===
.DS_Store
Thumbs.db

# === Log, temp files ===
*.log
*.tmp

# === 기타 ===
/.gradle/
/.mvn/

*.war
*.ear
